.root {
  @apply sticky top-0 bg-primary z-40 transition-all duration-150;
  min-height: 74px;
}

.nav {
  @apply relative flex flex-row justify-between py-4 md:py-4;
}

.navMenu {
  @apply hidden mx-6 space-x-4 lg:block;
}

.link {
  @apply inline-flex items-center leading-6
  transition ease-in-out duration-75 cursor-pointer
  text-store-p-dark text-xl font-bold;
}

.linkShopall {
  @apply flex items-center leading-6
  transition ease-in-out duration-75 cursor-pointer
  text-store-p-dark text-xl font-bold;
}

.link:hover {
  @apply text-store-a-red;
}

.linkShopall:hover {
  @apply text-store-a-red;
}

.link:focus {
  @apply outline-none text-accent-8;
}
/* rounded-full border */
.logo {
  @apply hidden cursor-pointer transform duration-100 ease-in-out;

  &:hover {
    /* @apply shadow-md; */
    transform: scale(1.05);
  }
}
.logoMobile {
  @apply cursor-pointer transform duration-100 ease-in-out;

  &:hover {
    /* @apply shadow-md; */
    transform: scale(1.05);
  }
}

@media screen(lg) {
  .logo {
    @apply block;
  }
  .logoMobile {
    @apply hidden;
  }
}

.dropdownMenu {
  @apply fixed right-0 top-12 mt-2 origin-top-right outline-none bg-primary z-40 w-full h-full;
}

@screen lg {
  .dropdownMenu {
    @apply absolute border border-accent-1 shadow-lg w-56 h-auto;
  }
}
