@import './palettes.css';
@tailwind base;
@import './base.css';

@tailwind components;
@import './components.css';

@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'RockoFLF';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/RockoFLF.ttf') format('truetype');
  }

  @font-face {
    font-family: 'RockoFLF';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/RockoFLF-Bold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'RockoFLF';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/RockoUltraFLF.ttf') format('truetype');
  }

  @font-face {
    font-family: 'RockoFLF';
    font-style: normal;
    font-weight: 900;
    src: url('/fonts/RockoUltraFLF-Bold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Kiddos';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/Kiddos-font.ttf') format('truetype');
  }
}
